@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  body {
    @apply bg-off-white text-primary-text font-sans antialiased tracking-tightest overflow-x-hidden;
    background-color: #e8e8e3;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }

  ::selection {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .noise-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.05;
    mix-blend-mode: overlay;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    animation: noise-move 0.2s infinite;
  }

  @keyframes noise-move {
    0% {
      transform: translate(0, 0);
    }

    10% {
      transform: translate(-5%, -5%);
    }

    20% {
      transform: translate(-10%, 5%);
    }

    30% {
      transform: translate(5%, -10%);
    }

    40% {
      transform: translate(-5%, 15%);
    }

    50% {
      transform: translate(-10%, 5%);
    }

    60% {
      transform: translate(15%, 0);
    }

    70% {
      transform: translate(0, 10%);
    }

    80% {
      transform: translate(-15%, 0);
    }

    90% {
      transform: translate(10%, 5%);
    }

    100% {
      transform: translate(5%, 0);
    }
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

/* Hide Scrollbar */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}